.mypage {
  margin-bottom: 2rem;
  display: inline-flex;
  list-style-type: none;
  padding: 0 5rem;
}
.mypage li a {
  border-radius: 2px;
  padding: 0.4rem 0.4rem;
  border: #49a078 1px solid;
  cursor: pointer;
  display: inline-flex;
}
li.previous a,
li.next a,
li.break a {
  border-color: transparent;
  
}
li.active a {
  background-color: #49a078;
  border-color: transparent;
  color: white;
  padding: 0.4rem 0.4rem;
}
li.disabled a {
  color: grey;
}
li.disable,
li.disabled a {
  cursor: default;
  margin-left: 10px;
  margin-right: 10px;

}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
